body {
    font-size: 60px;
    font-family: "Alef";
    background-image: url(p6.png) ;
    background-color: rgb(236, 236, 234) ;
    line-height: 1;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 100px 200px 
    }
body {
 font-weight: bold:  <p dir"rtl"> :תאריך לידה ;  
} 
  27.06.1991      
  <p dir"rtl"> כתובת: מקווה ישראל 1/4 תל-אביב
  <p dir"rtl"> 0542311079 <img src="p4.png"> <img src="p5.png">  shani.tehila@gmail.com
}
<p>  
  font-weight: bold להוסיף תמונה שקופה ברקע ;
 